<!DOCTYPE html>
<html ng-app="Test">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- Angular JS -->
    <script src="./angular.min.js"></script>

    <!-- sp-units -->
    <!--<script src="../dist/sp-units.min.js"></script>-->
    <script src="../app.js"></script>
    <script src="../src/service.js"></script>
    <script src="../src/filters.js"></script>
    <script src="../generated/converter.js"></script>
    <script src="../src/config.js"></script>

    <!-- app -->
    <script>
        var app = angular.module('Test', [
            'spUnits'
        ]);

        app.run(['spUnits', 'spUnitsConfig', 'SP_UNITS', '$rootScope', function (spUnits, spUnitsConfig, SP_UNITS, $rootScope) {
            $rootScope.setRandom = function () {
                $rootScope.random = Math.round(Math.random() * 100000) / 10;
            };
            spUnitsConfig.setDefaultLanguage('ru');
            spUnitsConfig.setCurrency('$');
            $rootScope.spUnits = spUnits;
            $rootScope.spUnitsConfig = spUnitsConfig;
            $rootScope.UNITS = SP_UNITS;
        }]);
    </script>
</head>
<body>
<h2>Choose group</h2>
<button ng-repeat="(key, value) in $root.UNITS.GROUPS" ng-click="$root.spUnitsConfig.setGroup(key);">{{key}}</button>
{{ 160 | spUnits: 'fl oz':{convertInGroup: true, minUnitSize: 10} }}
<!--{{50 | spUnitsPrice:50:'g'}}-->
<!--{{1 | spUnitsPrice:1:'gram'}}-->
<!--<h2>Random number ({{$root.random}}) <button ng-click="$root.setRandom();">Rest number</button></h2>-->
<!--<div ng-repeat="(key, value) in $root.spUnitsConfig._group.units">-->
    <!--{{key}} (random {{value[0].names.en[0]}} * 1 to oz): {{$root.random | spUnits:(value[0].names.en[0]):'oz'}},<br/>-->
    <!--{{key}} (random {{value[0].names.en[0]}} * 10 to gram): {{$root.random * 10 | spUnits:(value[0].names.en[0]):'gram'}},<br/>-->
    <!--{{key}} (random {{value[0].names.en[0]}} * 1000 to kg): {{$root.random * 1000 | spUnits:(value[0].names.en[0]):'kg'}},<br/>-->
    <!--{{key}} (random {{value[0].names.en[0]}} * 1): {{$root.random | spUnits:(value[0].names.en[0]):'oz'}},<br/>-->
    <!--{{key}} (random {{value[0].names.en[0]}} * 10): {{$root.random * 10 | spUnits:(value[0].names.en[0])}},<br/>-->
    <!--{{key}} (random {{value[0].names.en[0]}} * 1000): {{$root.random * 1000 | spUnits:(value[0].names.en[0])}}-->
    <!--<hr ng-if="!$last"/>-->
<!--</div>-->
</body>
</html>
